<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:aspectj-autoproxy/>
    <!-- 用户信息拦截器 -->
    <bean id="userInterceptor" class="com.example.phoebe.youtiao.interceptor.UserInterceptor"/>
    <!-- 日志拦截器 -->
    <bean id="logInterceptor" class="com.example.phoebe.youtiao.interceptor.LogInterceptor"/>
    <aop:config>
        <aop:pointcut id="userMethods" expression="execution(* com.example.phoebe.youtiao.controller.*.*(..)) and !execution(* com.example.phoebe.youtiao.controller.WebSocketServer.*(..))"/>
        <aop:pointcut id="logMethods" expression="execution(* com.example.phoebe.youtiao.controller.*.*(..)) and !execution(* com.example.phoebe.youtiao.controller.WebSocketServer.*(..))"/>
        <aop:advisor order="1" pointcut-ref="userMethods" advice-ref="userInterceptor"/>
        <aop:advisor order="2" pointcut-ref="logMethods" advice-ref="logInterceptor"/>
    </aop:config>
</beans>